<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= current_page.data.title || "Distrust Server" %></title>
  <%= stylesheet_link_tag "site" %>
  <%= javascript_include_tag "site" %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/de6caea046.js" crossorigin="anonymous"></script>
</head>

<body>
  <%= partial 'partials/nav' %>
  <%= partial '/partials/header' %>
  <%= yield %>
  <%= partial 'partials/footer' %>
</body>

</html>